SERVICE_NAME=bff-movil
MS_EJEMPLO_URL=http://localhost:8000
TIMEOUT_NUCLEO_S=1.0
TIMEOUT_OPCIONAL_S=0.3

JWT_ISSUER=ms-identidad
JWT_AUDIENCE=solventa
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
...
-----END PUBLIC KEY-----"
